* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1600px;
  min-height: auto;
  border: 1px solid red;
}

.navbar {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  height: 81px;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-top: 22px;
}

.menu__center {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  font-variant: small-caps;
  color: #00704A;
}

@media (max-width: 1160px) {
  .navbar {
    width: 100%;
    padding: 10px 20px 10px 20px;
  }
}

@media (max-width: 900px) {
  .menu__center, .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__list {
    margin: 5px 0 5px 0;
  }
  .navbar {
    height: auto;
  }
  .logo {
    padding-top: 20px;
  }
}

@media (max-width: 510px) {
  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__img {
  position: absolute;
  z-index: 1;
  max-width: 1600px;
}

.header__offer {
  z-index: 3;
  width: 50%;
  padding: 124px 0 0 180px;
}

.header h1 {
  text-transform: uppercase;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 350%;
  line-height: 66px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.085em;
  font-variant: small-caps;
  color: #FFFFFF;
}

.header__text {
  width: 85%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #90C08C;
}

.header__foto {
  float: right;
  z-index: 3;
  width: 30%;
  margin-left: 165px;
}

.foto_main {
  width: 70%;
  float: left;
}

.foto_mini {
  text-align: center;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main1 {
  width: 27%;
}

.main2 {
  width: 27%;
}

.main3 {
  width: 23%;
}

.mainfoto {
  width: 105%;
  margin-top: 20px;
}

.btn {
  position: relative;
  z-index: 3;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 50%;
  height: auto;
  background: linear-gradient(93.82deg, #4D8059 38.63%, #FFFFFF 146.42%);
  border-radius: 6px;
  padding: 10px 55px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 130%;
  line-height: 29px;
  color: #FFFFFF;
}

.btn:hover {
  background: #FFFFFF;
  color: #4D8059;
}

@media (max-width: 1600px) {
  .header__img {
    width: 100%;
  }
}

@media (max-width: 1441px) {
  .header__offer {
    padding: 70px 0 0 80px;
  }
}

@media (max-width: 1025px) {
  .header__offer {
    padding: 50px 0 0 60px;
  }
  .header__foto {
    margin-left: 120px;
  }
  .header h1 {
    font-size: 240%;
    line-height: 46px;
  }
  .header p {
    width: 87%;
    font-size: 18px;
    line-height: 29px;
  }
  .btn {
    padding: 5px;
    font-size: 100%;
  }
}

@media (max-width: 769px) {
  .header__offer {
    padding: 50px 0 0 30px;
  }
  .header__foto {
    margin-left: 90px;
  }
  .header h1 {
    font-size: 180%;
    line-height: 36px;
  }
  .header p {
    width: 87%;
    font-size: 14px;
    line-height: 20px;
  }
  .btn {
    padding: 5px;
    font-size: 90%;
  }
}
/*# sourceMappingURL=style.css.map */